{% extends 'base.html.twig' %}

{% block title %}Nouveau Contact{% endblock %}

{% block body %}
    <h1>Créer un nouveau contact</h1>
	<div class="container mt-70">
      {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        {{ form_end(form) }}
    </div>    

    <a href="{{ path('contacts_index') }}">Retour à la liste</a>



    
{% endblock %}
